body{
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
nav{
    text-align: center;
}
ul li {
    list-style-type: '-';
  }
.list1 {
    padding-left: 1vw;
    margin-left: 1vw;
}
.list2 {
    padding-left: 1vw;
    margin-right: 3vw;
    margin-left: 5vw;
}
.box{
    margin-top: 10vh;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-bottom: 4vh;
    background-color: #EAD7BB;
    padding: 1vw 1vw 2vh 1vw;
    border-radius: 1vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.title{
    font-size: 10vw;
    text-align: center;
    white-space: nowrap;
    color: #113946;
    font-family: 'LTCushion';
    margin: 0vw;
}
.navlink{
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 1vh 1vw 1vh 1vw;
    white-space: nowrap;
    color: #113946;
    text-decoration: none;
    font-size: 2vw;
    background-color: #BCA37F;
    font-family: 'SundayRomantic';
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.pMARGIN{
    margin: 0;
}
.pfp{
    margin: 1vw;
    width: 30vw;
    border-radius: 1vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container { 
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vw;
    margin-top: 1vh;
}
.containerS { 
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 1vw;
    margin-top: 1vh;
    
}
.subtitle {
    font-size: 3vw;
    font-family: 'Apple-bold';
    color: #113946;
}
.subtitle2 {
    font-size: 3vw;
    font-family: 'Apple-bold';
    color: #113946;
    padding-left: 18vw;
    padding-top: 2vh;
}
.text { 
    display: inline;
    font-size: 2vw;
    font-family: 'Apple';
    color: #113946;
    
}
.text2 { 
    display: inline;
    font-size: 2vw;
    font-family: 'Apple';
    color: #113946;
    padding-left: 9vw;
    padding-bottom: 2vh;
}
.center{
    text-align: center;
}
.container1{
    background-color: #d6bfa0;
    border-radius: 1vw;
}
.containers2{
    background-color: #FFF2D8;
    border-radius: 1vw;
    padding-bottom: 2vh;
    margin-right: 2vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.container2{
    background-color: #FFF2D8;
    border-radius: 1vw;
    margin-left: 24vw;
    display: inline-flex;
    margin-bottom: 2vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.info1{
    margin-bottom: 0%;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        background-color: rgb(255, 255, 255);
    }
     100% {
        opacity: 1;
        background-color: #FFF2D8;
     }
}
@font-face {
    font-family: 'LTCushion';
    src: url(assets/fonts/title.ttf) format('truetype');
}
@font-face {
    font-family: 'Apple-bold';
    src: url(assets/fonts/AppleGaramond-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Apple';
    src: url(assets/fonts/AppleGaramond.ttf) format('truetype');
}
@font-face {
    font-family: 'SundayRomantic';
    src: url(assets/fonts/SundayRomantic-Regular\ DEMO.otf) format('opentype');
}