body{
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        background-color: rgb(255, 255, 255);
    }
     100% {
        opacity: 1;
        background-color: #191970;
     }
}